* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

#root {
  width: 100%;
  min-height: 100vh;
}

/* Remove autofill background color from MUI input fields */
.MuiInputBase-input:-webkit-autofill,
.MuiOutlinedInput-input:-webkit-autofill,
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px transparent inset !important;
  box-shadow: 0 0 0 100px transparent inset !important;
  -webkit-text-fill-color: inherit !important;
}

